extends layout

block content
  .container
    .header
      h1= title
    .jumbotron
      video(id='video', width='300', height='300',autoplay)
    .row.marketing
      .col-lg-6
        p
          button#ans_button(onclick="answer()", disabled) 着信
        #message

      .col-lg-6
        p
          #peerlist.list-group
