doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap.css')
    script(type='text/javascript' src='/libs/jquery.js')
    script(type='text/javascript' src='/libs/bootstrap.js')
    script(type='text/javascript' src='https://skyway.io/dist/0.3/peer.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/index.js')
  body
    block content